# node_modules is populated automatically during `npm install`
node_modules/

# OS X generates .DS_Store files from time to time. Ignore them.
.DS_Store

# The bundle is generated with npm run demo
demo/public/js/*

# Code coverage reports are generated and do not need to be checked into git
coverage/
.nyc_output/
