@import '../util/include-responsive.scss';

.standardCheckboxWrapper {
  $paddingProps: (
    orientation: 'bottom-only',
    bottom-side: 15px,
  );

  @include Padding($paddingProps);
  height: 20px;
  width: 20px;
}

.standardCheckbox {
  width: 20px;
  position: relative;

  input[type=checkbox]{
    opacity: 0;
    position: absolute;
     &:checked{
      border: 5px solid blue;
      + label{
        background-color: $VimeoBlue;
        & :after {
         opacity: 1;
        }
      }
    }
  }
}

.standardCheckboxLabel {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  background: $White;
  border:1px solid $Porcelain;
  border-radius: 2px;

  &:hover {
    background-color: $VimeoBlue;
    &::after {
      opacity: 1;
    }
  }

  &:after {
    opacity: 1;
    content: '';
    position: absolute;
    width: 13px;
    height: 8px;
    background: transparent;
    top: 3px;
    left: 3px;
    border: 3px solid $White;
    border-top: none;
    border-right: none;

    transform: rotate(-45deg);
  }
}

.standardCheckedCheckboxLabel {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  background: $VimeoBlue;
  border:1px solid $Porcelain;
  border-radius: 2px;

  &:hover {
    background-color: $VimeoBlue;
    &::after {
      opacity: 1;
    }
  }

  &:after {
    opacity: 1;
    content: '';
    position: absolute;
    width: 13px;
    height: 8px;
    background: transparent;
    top: 3px;
    left: 3px;
    border: 3px solid $White;
    border-top: none;
    border-right: none;

    transform: rotate(-45deg);
  }
}

.checkbox {
  transition: border 400ms ease-out;
  border: 1px solid $Porcelain;
  background-image: none;
}

.checkboxSmall {
  min-height: 13.33333px;
}

.checkboxContain {
  min-height: 20px;
  width: 100%;
  display: block;
}

.checkboxCircle {
  left: 0;
  top: -2px;
  width: 18px;
  height: 18px;
  transition: opacity 0.2s ease;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.circleTop {
  height: 9px;
  transition: opacity 0.2s ease;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.circleBottom {
  height: 9px;
  transition: opacity 0.2s ease;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}

//idk what this does really, just a placeholder.
.checkboxAnimate,
.toggle,
.alt {
  display: block;
}

.checkboxIcon,
.checkboxIconSmall,
.checkboxIconMedium,
.checkboxIconLarge {
  $marginProps: (orientation: 'right-only', right-side: $small, );
  @include Margin($marginProps);
  transition: border 400ms ease-out;
  border: 1px solid $Porcelain;
  background-image: none;
  display: inline-block;
  float: left;
  background-color: $White;
  background-position: 50% 50%;
  background-size: 75%;
  position: relative;
  box-shadow: none;
  border-radius: 3px;
}

.checkboxIconSmall {
  width: 13.33333px;
  height: 13.33333px;
}

.checkboxIconMedium,
.checkboxIcon {
  width: 20px;
  height: 20px;
}

.checkboxIconLarge {
  width: 40px;
  height: 40px;
}

.checkboxLabel,
.checkboxLabelSmall,
.checkboxLabelMedium {
  $marginProps: (orientation: 'left-only', left-side: $small,);
  @include Margin($marginProps);
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  float: left;
}

.checkboxLabelSmall {
  min-height: 13.33333px;
  line-height: 13.33333px;
  width: calc(100% - 18.33333px);
  left: 18.33333px;
}

.checkboxLabelMedium,
.checkboxLabel {
  min-height: 20px;
  line-height: 20px;
  width: calc(100% - 25px);
  left: 25px;
}

.checkboxLabelLarge {
  $marginProps: (orientation: 'left-only', left-side: $xsmall,);
  @include Margin($marginProps);
  min-height: 40px;
  line-height: 40px;
  float: left;
}

.checkboxLabel,
.checkboxContain {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

