//not sure this is needed
// @import "../mixins";

/*.....................................
  TEXT
......................................*/

// See _structure.scss for solution to this.
// ul,
// ol,
// dl,
// li,
// p,
// div,
// section,
// nav,
// table,
// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   font-family: $font-helvetica;
//   font-size: 14px;
//   line-height: 22px;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }


/* links
......................................*/
a {
  transition: color 200ms ease;

  &:link,
  &:visited {
    color: $teal-2;
    text-decoration: none;
  }
  &:hover,
  &:active {
    color: $teal-3;
    text-decoration: none;
  }
  &.is-disabled {
    &:link, &:visited,
    &:hover, &:active {
      cursor: default;
      opacity: .5;
      color: $teal-2;
    }
  }
}

//todo: consider type mixins
/* sizes
......................................*/
.text-1 {
  font-size: 16px;
  line-height: 24px;
  color: $gray-6;
}
.text-2 {
  font-size: 14px;
  line-height: 22px;
  color: $gray-6;
}
.text-3 {
  font-size: 13px;
  line-height: 18px;
  color: $gray-6;
}
.text-4 {
  font-size: 12px;
  line-height: 16px;
  color: $gray-6;
}

/* colors
......................................*/

//ex: <p class="text--navy-bold">

//todo: refactor out the strongs, em, etc. keeping for legacy code.
.text {

  &--bold {
    @include BoldType();
  }

  &--italic {
    @include ItalicType();
  }

  &--navy {
    color: $gray-7;
  }

  &--navy-bold {
    @include BoldType($gray-7);
  }

  &--navy-italic {
    @include ItalicType($gray-7);
  }

  &--navy-transparent {
    color: transparentize($gray-7, .5);
  }

  &--navy-transparent-bold {
    @include BoldTypeTrans($gray-7, 0.5);
  }

  &--navy-transparent-italic {
    @include ItalicTypeTrans($gray-7, 0.5);
  }

  &--gray {
    color: $gray-5;
  }

  &--gray-bold {
    @include BoldType($gray-5);
  }

  &--gray-italic {
    @include ItalicType($gray-5);
  }

  &--gray-transparent {
    @include ItalicTypeTrans($gray-5, 0.5);
  }

  &--gray-transparent-bold {
    @include BoldTypeTrans($gray-5, 0.5);;
  }

  &--gray-transparent-italic {
    @include ItalicTypeTrans($gray-5, 0.5);ß
  }

  &--gray-light {
    color: $gray-2;
  }

  &--gray-light-italic {
    @include ItalicType($gray-2);
  }

  &--gray-light-bold {
    @include BoldType($gray-2);
  }

  &--gray-light-transparent {
    color: transparentize($gray-2, .5);
  }

  &--gray-light-transparent-italic {
    @include ItalicTypeTrans($gray-2, 0.5);
  }

  &--gray-light-transparent-bold {
    @include BoldTypeTrans($gray-2, 0.5);
  }

  &--teal {
    color: $teal-2;
  }

   &--teal-italic {
    @include ItalicType($teal-2);
  }

  &--teal-bold {
    @include BoldType($teal-2);
  }

  &--teal-transparent {
    color: transparentize($teal-2, .5);
  }

  &--teal-transparent-italic {
    @include ItalicTypeTrans($teal-2, 0.5);
  }

  &--teal-transparent-bold {
    @include BoldTypeTrans($teal-2, 0.5);
  }

  &--white {
    color: $white;
  }

  &--white-italic {
    @include ItalicType($white);
  }

  &--white-bold {
    @include BoldType($white);
  }

  &--white-transparent {
    color: transparentize($white, .3);
  }

  &--white-transparent-italic {
    @include ItalicTypeTrans($white, 0.3);
  }

  &--white-transparent-bold {
    @include BoldTypeTrans($white, 0.3);
  }

  &--yellow {
    color: $vhx-yellow;
  }

  &--yellow-italic {
    @include ItalicType($vhx-yellow);
  }

  &--yellow-bold {
    @include BoldType($vhx-yellow);
  }

  &--yellow-transparent {
    color: transparentize($vhx-yellow, .3);
  }

  &--yellow-transparent-italic {
    @include ItalicTypeTrans($vhx-yellow, 0.3);
  }

  &--yellow-transparent-bold {
    @include BoldTypeTrans($vhx-yellow, 0.3);
  }

  &--green {
    color: $vhx-green;
  }

  &--green-italic {
    @include ItalicType($vhx-green);
  }

  &--green-bold {
    @include BoldType($vhx-green);
  }

  &--green-transparent {
    color: transparentize($vhx-green, .5);
  }

  &--green-transparent-italic {
    @include ItalicTypeTrans($vhx-green, 0.5);
  }

  &--green-transparent-bold {
    @include BoldTypeTrans($vhx-green, 0.5);
  }

  &--red {
    color: $red;
  }

  &--red-italic {
    @include ItalicType($red);
  }

  &--red-bold {
    @include BoldType($red);
  }

  &--red-transparent {
    color: transparentize($red, .5);
  }

  &--red-transparent-bold {
    @include BoldTypeTrans($red, 0.5);
  }

  &--red-transparent-italic {
    @include ItalicTypeTrans($red, 0.5);
  }

  &--orange {
    color: $vhx-orange;
  }

  &--orange-italic {
    @include ItalicType($vhx-orange);
  }

  &--orange--bold {
    @include BoldType($vhx-orange);
  }

  &--orange-transparent {
    color: transparentize($vhx-orange, .5);
  }

  &--orange-transparent-bold {
    @include BoldTypeTrans($vhx-orange, 0.5);
  }

  &--orange-transparent-italic {
    @include ItalicTypeTrans($vhx-orange, 0.5);
  }

  &--debian {
    color: $vhx-debian;
  }

  &--debian-bold {
    @include BoldType($vhx-debian);
  }

  &--debian-transparent {
    color: transparentize($vhx-debian, .5);
  }

  &--debian-transparent-bold {
    @include BoldTypeTrans($vhx-debian, 0.5);
  }

  &--debian-transparent-italic {
    @include ItalicTypeTrans($vhx-debian, 0.5);
  }

  &--purple {
    color: $vhx-purple;
  }

  &--purple-bold {
    @include BoldType($vhx-purple);
  }

  &--purple-transparent {
    color: transparentize($vhx-purple, .5);
  }

  &--purple-transparent-bold {
    @include BoldTypeTrans($vhx-purple, 0.5);
  }

  &--purple-transparent-italic {
    @include ItalicTypeTrans($vhx-purple, 0.5);
  }

  &--currant {
    color: $vhx-currant;
  }

  &--currant-bold {
    @include BoldType($vhx-currant);
  }

  &--currant-transparent {
    color: transparentize($vhx-currant, .5);
  }

  &--currant-transparent-bold {
    @include BoldTypeTrans($vhx-currant, 0.5);
  }

  &--currant-transparent-italic {
    @include ItalicTypeTrans($vhx-currant, 0.5);
  }

  &--blue {
    color: $vhx-blue;
  }

  &--blue-bold {
    @include BoldType($vhx-blue);
  }

  &--blue-transparent {
    color: transparentize($vhx-blue, .5);
  }

  &--blue-transparent-bold {
    @include BoldTypeTrans($vhx-blue, 0.5);
  }

  &--blue-transparent-italic {
    @include ItalicTypeTrans($vhx-blue, 0.5);
  }

}

a.text--navy {
  &:link,
  &:visited {
    color: $gray-7;
    text-decoration: none;
  }
  &:hover,
  &:active {
    color: $gray-5;
    text-decoration: none;
    &.is-hover-text--navy {
      color: $gray-7;
    }
  }
  &.is-disabled {
  &:link, &:visited,
  &:hover, &:active {
      color: $gray-7;
    }
  }
}

a.text--gray {
  &:link,
  &:visited {
    color: $gray-5;
    text-decoration: none;
  }
  &:hover,
  &:active {
    color: $gray-7;
    text-decoration: none;
    &.is-hover-text--gray {
      color: $gray-5;
    }
  }
  &.is-disabled {
    &:link, &:visited,
    &:hover, &:active {
      color: $gray-5;
    }
  }
}

a.text--gray-light {
  &:link,
  &:visited {
    color: $gray-2;
    text-decoration: none;
  }
  &:hover,
  &:active {
    color: $gray-4;
    text-decoration: none;
    &.is-hover-text--gray-light {
      color: $gray-2;
    }
  }
  &.is-disabled {
    &:link, &:visited,
    &:hover, &:active {
      color: $gray-4;
    }
  }
}

a.text--teal {
  &:link,
  &:visited {
    color: $teal-2;
    text-decoration: none;
  }
  &:hover,
  &:active {
    color: $teal-3;
    text-decoration: none;
    &.is-hover-text--teal {
      color: $gray-2;
    }
  }
  &.is-disabled {
    &:link, &:visited,
    &:hover, &:active {
      color: $teal-3;
    }
  }
}

a.text--white {
  &:link,
  &:visited {
    color: $white;
    text-decoration: none;
  }
  &:hover,
  &:active {
    color: transparentize($white, .3);
    text-decoration: none;
    &.is-hover-text--white {
      color: $white;
    }
  }
  &.is-disabled {
    &:link, &:visited,
    &:hover, &:active {
      color: $white;
    }
  }
}
a.text--yellow {
  &:link,
  &:visited {
    color: $vhx-yellow;
    text-decoration: none;
  }
  &:hover,
  &:active {
    color: transparentize($vhx-yellow, .3);
    text-decoration: none;
    &.is-hover-text--yellow {
      color: $vhx-yellow;
    }
  }
  &.is-disabled {
    &:link, &:visited,
    &:hover, &:active {
      color: $vhx-yellow;
    }
  }
}

a.text--green {
  &:link,
  &:visited {
    color: $vhx-green;
    text-decoration: none;
  }
  &:hover,
  &:active {
    color: $vhx-green;
    text-decoration: none;
    &.is-hover-text--green {
      color: $vhx-green;
    }
  }
  &.is-disabled {
  &:link, &:visited,
  &:hover, &:active {
      color: $vhx-green;
    }
  }
}

a.text--red {
  &:link,
  &:visited {
    color: $red;
    text-decoration: none;
  }
  &:hover,
  &:active {
    color: $red;
    text-decoration: none;
    &.is-hover-text--red {
      color: $red;
    }
  }
  &.is-disabled {
  &:link, &:visited,
  &:hover, &:active {
      color: $red;
    }
  }
}


a.text--orange {
  &:link,
  &:visited {
    color: $vhx-orange;
    text-decoration: none;
  }
  &:hover,
  &:active {
    color: $vhx-orange;
    text-decoration: none;
    &.is-hover-text--orange {
      color: $vhx-orange;
    }
  }
  &.is-disabled {
  &:link, &:visited,
  &:hover, &:active {
      color: $vhx-orange;
    }
  }
}


a.text--debian {
  &:link,
  &:visited {
    color: $vhx-debian;
    text-decoration: none;
  }
  &:hover,
  &:active {
    color: $vhx-debian;
    text-decoration: none;
    &.is-hover-text--debian {
      color: $vhx-debian;
    }
  }
  &.is-disabled {
  &:link, &:visited,
  &:hover, &:active {
      color: $vhx-debian;
    }
  }
}



a.text--purple {
  &:link,
  &:visited {
    color: $vhx-purple;
    text-decoration: none;
  }
  &:hover,
  &:active {
    color: $vhx-purple;
    text-decoration: none;
    &.is-hover-text--purple {
      color: $vhx-purple;
    }
  }
  &.is-disabled {
  &:link, &:visited,
  &:hover, &:active {
      color: $vhx-purple;
    }
  }
}

a.text--currant {
  &:link,
  &:visited {
    color: $vhx-currant;
    text-decoration: none;
  }
  &:hover,
  &:active {
    color: $vhx-currant;
    text-decoration: none;
    &.is-hover-text--currant {
      color: $vhx-currant;
    }
  }
  &.is-disabled {
  &:link, &:visited,
  &:hover, &:active {
      color: $vhx-currant;
    }
  }
}


a.text--blue {
  &:link,
  &:visited {
    color: $vhx-blue;
    text-decoration: none;
  }
  &:hover,
  &:active {
    color: $vhx-blue;
    text-decoration: none;
    &.is-hover-text--blue {
      color: $vhx-blue;
    }
  }
  &.is-disabled {
  &:link, &:visited,
  &:hover, &:active {
      color: $vhx-blue;
    }
  }
}

/* modifiers
......................................*/
.text--italic {
  font-style: italic;
  em {
    font-style: italic;
  }
}
.text--transparent {
  color: transparentize($gray-6, .5);
}
.text--uppercase {
  text-transform: uppercase;
  &::placeholder {
    text-transform: none;
  }
}
.text--lowercase {
  text-transform: lowercase !important;
}
.text--break {
  word-break: break-all;
}

.text-contain {
  &.text-1 {
    p {
      margin-bottom: 24px;
    }
  }
  &.text-2 {
    p {
      margin-bottom: 22px;
    }
  }
  &.text-3 {
    p {
      margin-bottom: 18px;
    }
  }
}

.line-small {
  line-height: 15px;
}
.line-medium {
  line-height: 18px;
}
.line-large {
  line-height: 21px;
}
