@import '../util/include-responsive.scss';

.default-avatar-xsmall {
  background-color: red;
}

.default-avatar-small {
  background-color: orange;
}

.default-avatar-medium {
   background-color: yellow;
}

.default-avatar-large {
  background-color: green;
}

.default-avatar-xlarge {
  background-color: blue;
}

.default-avatar-xxlarge {
  background-color: purple;
}





