@import '../util/include-responsive.scss';

input[type="radio"] {
  display: none;
}

.radioButtonWrapper {
  display: inline-flex;
  justify-content: space-between;
}

.radioButtonRadioWrapper {
  $paddingProps: (
    orientation: 'top-only',
    top-side: $xsmall,
  );

  @include Margin($paddingProps);
  display: inline-block;
}

.radioButtonsTextWrapper {
  $paddingProps: (
    orientation: 'left-only',
    left-side: $small,
  );

  @include Padding($paddingProps);
  display: inline-block;
}

.radioButtonLabel,
.radioButtonLabelGray {
  $marginProps: (
    orientation: 'bottom-only',
    bottom-side: $xsmall,
  );

  $paddingProps: (
    orientation: 'custom-four',
    top-side: $xsmall,
    left-side: $small,
    bottom-side: $xsmall,
    right-side: $small,
  );

  @include Margin($marginProps);
  @include Padding($paddingProps);
  display: block;
  color: $AstroGranite;
  font-size: 14px;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;

}

.radioButtonLabel {
  background-color: $VimeoBlue;
}

.radioButtonLabelGray {
  background-color: $Porcelain;
}

.stackedRadios,
.buttonRadios {
  display: block;
  height: auto;
}

.blueRadio,
.grayRadio {
  position: relative;
  width: 100%;
  list-style: none;
  margin-left: 0;
  color: $AstroGranite;
  font-size: 14px;
  background: $White;
  user-select: none;
}

.radioButton {
  $marginProps: (
    orientation: 'left-right',
    left-side: $xsmall,
    right-side: $xsmall,
  );

  @include Margin($marginProps);
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  float: left;
  border: 1px solid $AstroGranite;
  box-shadow: none;
  box-sizing: border-box;
  border-radius: 20px;
  transition: box-shadow .2s ease, color .2s ease;
  background-color: $White;
}

.radioChecked,
.radioUnchecked {
  overflow: hidden;
  position: absolute;
  top: 4px;
  left: 4px;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
}

.radioChecked {
  background: $VimeoBlue;
}

.radioUnchecked {
  background: transparent;
}

.checkedButtonTitle {
  @include Type700($color: $White);
}

.checkedButtonText {
  @include Type400($color: $White);
}

.uncheckedButtonTitle {
  @include Type700($color: $AstroGranite);
}

.strongText {
  @include Type400($color: $AstroGranite, $size: 12px);
}
