@import '../util/include-responsive.scss';

.stackedRadios {
  display: block;
  height: auto;
}

.blueRadio,
.grayRadio {
  position: relative;
  display: inline-block;
  width: 100%;
  list-style: none;
  margin-left: 0;
  color: $AstroGranite;
  font-size: 14px;
  background: $White;
  user-select: none;
}

.radioButton {
  $marginProps: (
    orientation: 'left-right',
    left-side: $xsmall,
    right-side: $xsmall,
  );

  @include Margin($marginProps);
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  float: left;
  border: 1px solid $AstroGranite;
  box-shadow: none;
  box-sizing: border-box;
  border-radius: 20px;
  transition: box-shadow .2s ease, color .2s ease;
  background-color: $White;
}

.radioChecked {
  overflow: hidden;
  position: absolute;
  top: 4px;
  left: 4px;
  display: block;
  width: 10px;
  height: 10px;
  background: $VimeoBlue;
  border-radius: 10px;
}

.radioUnchecked {
  overflow: hidden;
  position: absolute;
  top: 4px;
  left: 4px;
  display: block;
  width: 10px;
  height: 10px;
  background: transparent;
  border-radius: 10px;
}

.checkedButtonTitle {
  @include Type700($color: $White);
}

.checkedButtonText {
  @include Type400($color: $White);
}

.uncheckedButtonTitle {
  @include Type700($color: $AstroGranite);
}

.strongText {
  @include Type400($color: $AstroGranite, $size: 12px);
}
