@import '../util/include-responsive.scss';

.icon,
.iconXxsmall,
.iconXsmall,
.iconSmall,
.iconMedium,
.iconLarge,
.iconXlarge,
.iconXxlarge,
.iconWhite,
.iconWhiteXxsmall,
.iconWhiteXsmall,
.iconWhiteSmall,
.iconWhiteMedium,
.iconWhiteLarge,
.iconWhiteXlarge,
.iconWhiteXxlarge,
.iconVimeoBlue,
.iconVimeoBlueXxsmall,
.iconVimeoBlueXsmall,
.iconVimeoBlueSmall,
.iconVimeoBlueMedium,
.iconVimeoBlueLarge,
.iconVimeoBlueXlarge,
.iconVimeoBlueXxlarge,
.iconSunsetOrange,
.iconSunsetOrangeXxsmall,
.iconSunsetOrangeXsmall,
.iconSunsetOrangeSmall,
.iconSunsetOrangeMedium,
.iconSunsetOrangeLarge,
.iconSunsetOrangeXlarge,
.iconSunsetOrangeXxlarge,
.iconPistachio,
.iconPistachioXxsmall,
.iconPistachioXsmall,
.iconPistachioSmall,
.iconPistachioMedium,
.iconPistachioLarge,
.iconPistachioXlarge,
.iconPistachioXxlarge,
.iconRumSwizzle,
.iconRumSwizzleXxsmall,
.iconRumSwizzleXsmall,
.iconRumSwizzleSmall,
.iconRumSwizzleMedium,
.iconRumSwizzleLarge,
.iconRumSwizzleXlarge,
.iconRumSwizzleXxlarge,
.iconPalePink,
.iconPalePinkXxsmall,
.iconPalePinkXsmall,
.iconPalePinkSmall,
.iconPalePinkMedium,
.iconPalePinkLarge,
.iconPalePinkXlarge,
.iconPalePinkXxlarge,
.iconFoam,
.iconFoamXxsmall,
.iconFoamXsmall,
.iconFoamSmall,
.iconFoamMedium,
.iconFoamLarge,
.iconFoamXlarge,
.iconFoamXxlarge,
.iconPorcelain,
.iconPorcelainXxsmall,
.iconPorcelainXsmall,
.iconPorcelainSmall,
.iconPorcelainMedium,
.iconPorcelainLarge,
.iconPorcelainXlarge,
.iconPorcelainXxlarge,
.iconSoutherlySky,
.iconSoutherlySkyXxsmall,
.iconSoutherlySkyXsmall,
.iconSoutherlySkySmall,
.iconSoutherlySkyMedium,
.iconSoutherlySkyLarge,
.iconSoutherlySkyXlarge,
.iconSoutherlySkyXxlarge,
.iconRegentGray,
.iconRegentGrayXxsmall,
.iconRegentGrayXsmall,
.iconRegentGraySmall,
.iconRegentGrayMedium,
.iconRegentGrayLarge,
.iconRegentGrayXlarge,
.iconRegentGrayXxlarge,
.iconAstroGranite,
.iconAstroGraniteXxsmall,
.iconAstroGraniteXsmall,
.iconAstroGraniteSmall,
.iconAstroGraniteMedium,
.iconAstroGraniteLarge,
.iconAstroGraniteXlarge,
.iconAstroGraniteXxlarge {
  display: inline-block;
  background-position: 50% 50%;
  background-size: contain;
  text-indent: -9999px;
}

.icon,
.iconSmall,
.iconWhite,
.iconVimeoBlue,
.iconSunsetOrange,
.iconPistachio,
.iconRumSwizzle,
.iconFoam,
.iconPorcelain,
.iconSoutherlySky,
.iconRegentGray,
.iconAstroGranite,
.iconWhiteSmall,
.iconVimeoBlueSmall,
.iconSunsetOrangeSmall,
.iconPistachioSmall,
.iconRumSwizzleSmall,
.iconFoamSmall,
.iconPorcelainSmall,
.iconSoutherlySkySmall,
.iconRegentGraySmall,
.iconAstroGraniteSmall {
  width: 25px;
  height: 25px;
}

// not sure what xx small size is
.iconXxsmall,
.iconXsmall,
.iconWhiteXxsmall,
.iconVimeoBlueXxsmall,
.iconSunsetOrangeXxsmall,
.iconPistachioXxsmall,
.iconRumSwizzleXxsmall,
.iconFoamXxsmall,
.iconPorcelainXxsmall,
.iconSoutherlySkyXxsmall,
.iconRegentGrayXxsmall,
.iconAstroGraniteXxsmall,
.iconWhiteXsmall,
.iconVimeoBlueXsmall,
.iconSunsetOrangeXsmall,
.iconPistachioXsmall,
.iconRumSwizzleXsmall,
.iconFoamXsmall,
.iconPorcelainXsmall,
.iconSoutherlySkyXsmall,
.iconRegentGrayXsmall,
.iconAstroGraniteXsmall {
  width: 15px;
  height: 15px;
}


.iconMedium,
.iconWhiteMedium,
.iconVimeoBlueMedium,
.iconSunsetOrangeMedium,
.iconPistachioMedium,
.iconRumSwizzleMedium,
.iconFoamMedium,
.iconPorcelainMedium,
.iconSoutherlySkyMedium,
.iconRegentGrayMedium,
.iconAstroGraniteMedium {
  width: 35px;
  height: 35px;
}

.iconLarge,
.iconWhiteLarge,
.iconVimeoBlueLarge,
.iconSunsetOrangeLarge,
.iconPistachioLarge,
.iconRumSwizzleLarge,
.iconFoamLarge,
.iconPorcelainLarge,
.iconSoutherlySkyLarge,
.iconRegentGrayLarge,
.iconAstroGraniteLarge {
  width: 45px;
  height: 45px;
}

.iconXlarge,
.iconWhiteXlarge,
.iconVimeoBlueXlarge,
.iconSunsetOrangeXlarge,
.iconPistachioXlarge,
.iconRumSwizzleXlarge,
.iconFoamXlarge,
.iconPorcelainXlarge,
.iconSoutherlySkyXlarge,
.iconRegentGrayXlarge,
.iconAstroGraniteXlarge {
  width: 55px;
  height: 55px;
}

.iconXxlarge,
.iconWhiteXxlarge,
.iconVimeoBlueXxlarge,
.iconSunsetOrangeXxlarge,
.iconPistachioXxlarge,
.iconRumSwizzleXxlarge,
.iconFoamXxlarge,
.iconPorcelainXxlarge,
.iconSoutherlySkyXxlarge,
.iconRegentGrayXxlarge,
.iconAstroGraniteXxlarge {
  width: 65px;
  height: 65px;
}

.iconWhite,
.iconWhiteXxsmall,
.iconWhiteXsmall,
.iconWhiteMedium,
.iconWhiteLarge,
.iconWhiteXlarge,
.iconWhiteXxlarge {
  background-color: $White;
}

.iconVimeoBlue,
.iconVimeoBlueXxsmall,
.iconVimeoBlueXsmall,
.iconVimeoBlueMedium,
.iconVimeoBlueLarge,
.iconVimeoBlueXlarge,
.iconVimeoBlueXxlarge {
  background-color: $VimeoBlue;
}

.iconSunsetOrange,
.iconSunsetOrangeXxsmall,
.iconSunsetOrangeXsmall,
.iconSunsetOrangeMedium,
.iconSunsetOrangeLarge,
.iconSunsetOrangeXlarge,
.iconSunsetOrangeXxlarge {
  background-color: $SunsetOrange;
}

.iconPistachio,
.iconPistachioXxsmall,
.iconPistachioXsmall,
.iconPistachioMedium,
.iconPistachioLarge,
.iconPistachioXlarge,
.iconPistachioXxlarge {
  background-color: $Pistachio;
}

.iconRumSwizzle,
.iconRumSwizzleXxsmall,
.iconRumSwizzleXsmall,
.iconRumSwizzleMedium,
.iconRumSwizzleLarge,
.iconRumSwizzleXlarge,
.iconRumSwizzleXxlarge {
  background-color: $RumSwizzle;
}

.iconFoam,
.iconFoamXxsmall,
.iconFoamXsmall,
.iconFoamMedium,
.iconFoamLarge,
.iconFoamXlarge,
.iconFoamXxlarge {
  background-color: $Foam;
}

.iconPorcelain,
.iconPorcelainXxsmall,
.iconPorcelainXsmall,
.iconPorcelainMedium,
.iconPorcelainLarge,
.iconPorcelainXlarge,
.iconPorcelainXxlarge {
  background-color: $Porcelain;
}

.iconSoutherlySky,
.iconSoutherlySkyXxsmall,
.iconSoutherlySkyXsmall,
.iconSoutherlySkyMedium,
.iconSoutherlySkyLarge,
.iconSoutherlySkyXlarge,
.iconSoutherlySkyXxlarge {
  background-color: $SoutherlySky;
}

.iconRegentGray,
.iconRegentGrayXxsmall,
.iconRegentGrayXsmall,
.iconRegentGrayMedium,
.iconRegentGrayLarge,
.iconRegentGrayXlarge,
.iconRegentGrayXxlarge {
  background-color: $RegentGray;
}

.iconAstroGranite,
.iconAstroGraniteXxsmall,
.iconAstroGraniteXsmall,
.iconAstroGraniteMedium,
.iconAstroGraniteLarge,
.iconAstroGraniteXlarge,
.iconAstroGraniteXxlarge {
  background-color: $AstroGranite;
}

